:root{
    --opacity-nav: 0;
}

.navegacion{
    background: linear-gradient(black 33%, red);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    opacity: var(--opacity-nav);
}

.navegacion > ul{
    display: flex;
    justify-content: space-around;
}

.navegacion > ul > li{
    margin: 5px 0px 5px 0px;
}

.navegacion > ul > li > a{
    color: white;
    text-decoration: none;
}

.content-img{
    background: linear-gradient(90deg, black 50%,blue);
    display: flex;
    height: 100vh;
    position: relative;
}

.content-img .content-batman, .content-img .content-rie{
    width: 50%;
}

.content-img > div > img{
    object-fit: cover;
    opacity: 0.5;
    height: 100%;
    width: 100%;
}

.content-batman img{
    object-position: center center;
}

.content-rie img{
    object-position: top center;
}

.title{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    margin-bottom: 30vh;
}

.title h1{
    color: white;
    font-size: 30px;
}

.p-column{
    column-count: 2;
    column-gap: 20px;
    margin-top: 10px;
}

article, .p-column, body > p{
    text-align: justify;
}

p{
    margin-bottom: 10px;
}

article > div > img{
    object-fit: cover;
    width: 100%
}

.batifamilia {
    float: right;
    max-width: 20em;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    shape-outside: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%) border-box;
    shape-margin: 5px;
}

.caballeros-oscuros{
    float: left;
    max-width: 20em;
    shape-margin: 5px;
    clip-path: polygon(0% 0%, 87% 0, 100% 50%, 85% 100%, 0% 100%);
    shape-outside: polygon(0% 0%, 87% 0, 100% 50%, 85% 100%, 0% 100%);;
}

.contenedor-fichas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ficha{
    width: 200px;
    height: 300px;
    background-color: red;
}