.contenedor div{
    background-color: darkcyan;
    text-align: center;
    margin: 2px;
    border-radius: 10px;
    padding: 30px 10px 30px 10px;
}

.contenedor{
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-auto-flow: row;
    grid-template-areas:    "header header header header"
                            "contenido contenido contenido sidebar"
                            "contenido contenido contenido sidebar"
                            "contenido contenido contenido sidebar"
                            "footer footer footer footer";
}

.elem1{
    grid-area: header;
}

.elem2{
    grid-area: contenido;
}

.elem3{
    grid-area: sidebar;
}

.elem4{
    grid-area: footer;
}