body{
    box-sizing: content-box;
    line-height: normal;
}

header{
    color: #F5F0ED;
    background: url("./Images/Fondo1.jpg")
                no-repeat center top / cover;
    padding: 20px 10px 50px 10px;
    position: relative;
}

.menu-mobile{
    background-color: #D03B40;
    border-radius: 50%;
    box-sizing: border-box;
    height: 50px;
    padding: 10px 7px 15px 7px;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50px;
}

.menu-mobile:hover{
    cursor: pointer;
}

.menu-mobile div{
    border: solid 3px #F5F0ED;
    border-radius: 10px;
    margin-bottom: 5px;
}

h1, h2, h3, p{
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;   
}

header h1{
    margin-top: 50px;
}

.line{
    border: solid 1px #F5F0ED;
    margin: 30px auto 30px auto;
    width: 100px;  
}

p{
    font-size: 16px;
    text-align: center;
}

header p{
    margin-bottom: 50px;
}

article{
    padding: 30px 20px 50px 20px;
    text-align: justify;
}

h2{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase; 
}

article h2{
    margin: 20px 10px 30px 10px;
}

.fisrt-article{
    background-color: #D03B40;
    color: #F5F0ED;
    height: 50%;
}

.second-article{
    background-color: #DED6C0;
    color: #D03B40;
    height: 50%;
}

.third-article{
    background: url("./Images/Fondo2.jpg")
                no-repeat center top / cover;
    color: #F5F0ED;
}

button:hover{
    background: #D03B40;
    cursor: pointer;
}

button{
    background: transparent;
    border: #F5F0ED solid 3px;
    color: #F5F0ED;
    margin-top: 30px;
    padding: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.5s background;
    width: 100%; 
}

h3{
    color: #3C3C3B;
    text-align: left;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
}

.content{
    padding: 0px 20px 0px 20px;
}

.content img{
    display: block;
    height: 100px;
    margin: 30px auto 10px auto;
    width: 100px;
}

.content p{
    color: #3C3C3B;
    text-align: left;
    margin-top: 5px;
}

.last-content{
    margin-bottom: 50px;
}

.footer-container{
    padding: 30px 20px 50px 20px;
}

.footer-container h2{
    padding: 10px;
    margin: 20px 10px 30px 10px;
}

.first-footer{
    color: #D03B40;
    background-color: #DED6C0;
}

.second-footer{
    color: #F5F0ED;
    background-color: #D03B40;
}

strong{
    font-weight: bold;
}

.last-footer{
    color: #F5F0ED;
    background-color: #3C3C3B;
    padding: 0px 20px 0px 20px;
}

.last-footer p{
    text-align: left;
}
/*  COLORES

Rojo: #d03b40
Beige: #ded6c0
Blanco: #f5f0ed
Gris: #241d1b

Texto claro: #f5f0ed
Texto oscuro: #3c3c3b

TAMAÑOS

Encabezado 1r nivel: 44px
Encabezado 2º nivel: 28px
Encabezado 3r nivel: 24px
Cuerpo de texto: 16px
Botones: 14px
*/