body{
    font-family: 'Vujahday Script', cursive;
}

header{
    background-image: url(./Imagenes/batman.jpeg);
    height: 200px;
    width: 100%;
    border: 5px solid black;
}

nav{
    border: 5px solid black;
    display: block;
    float: left;
}

ul{
    padding: 0;
    list-style: none;
    list-style-position: inside;
}

a{
    text-decoration: none;
}

div{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid black;
    float: left;
}