body{
    padding: 0;
    margin: 0;
}

#cabecera, #pie{
    text-align: center;
}

#menu, #contenido, #info{
    padding: 0;
    margin: 0;
}

#menu{
    position: absolute;
    width: 10em;
}

#contenido{
    position: fixed;
    left: 10em;
    margin-right: 35em;
}

#info{
    position: absolute;
    right: 0;
    width: 25em;
}

#info h2{
    margin-top: 0;
}