div{
    height: 100px;
    width: 100px;
    margin: 50px auto 50px auto;
}

.border1{
    background-color: red;
    border-radius: 100% 0 0 100% / 50%;
}

.border2{
    background-color: green;
    border-radius: 30px/10px;
}

.border3{
    background-color: blue;
    border-radius: 100%;
    width: 200px;
}