:root{
    --color: #00ACAC;
}

.cabecera {
    background: var(--color);
  }
  
  .articulo__entradilla {
    color: var(--color);
  }
  
  .articulo__cuerpo > p:first-child::first-letter {
    color: var(--color);
  }
  
  .imagen-circulo,
  .imagen-hexagono {
    background: var(--color);
  }
  
  @media (max-width: 37.5em) {
    :root{
      --color: #E56ADA;
    }
    
  }